{% extends 'layout.html' %}
{% block content %}



    <div class = "flow-text container col s12 content-section card transparent hoverable">
<h2 align="center"> <b> The beauty of knowledge lies in sharing it </b></h2>

<hr>

<p>
    <h4>Built on an <b>Open-Source philosophy</b>, <i>Synergy</i> believes in collaboration for the <b>greater good</b>, bridging the gap between ideation and manifestation.</h4> Based on the ethics of its own architechture which is facilitated by vast public libraries and an open-source language, Synergy advocates giving back to the community.
</p>

<p> <h4> All repositories are public and everyone can send <b>contribution requests</b>. The feel is minimalistic yet elegant. </h4> Have an idea but are looking for people to join it? Want to contribute but don't have an idea to dedicate it to? Be expressive. The team would come together.</p>

<p align="center"><b>Synergize.</b></p>

<h3 align="center" class=" white-text"><b>ideate.work </b></h3>
<br>

</div>
</div>
{% endblock content %}
