{% extends 'layout.html' %}
{% block content %}

<div class = "dim white-text flow-text">

    <br><br><br>
    <h2 align="center" class="pink-text darken-4"> <b> The beauty of knowledge lies in sharing it </b></h2>
    <hr>
    <br>
    <p><h5>
        Built on an <b>Open-Source philosophy</b>, <i>synergy</i> believes in collaboration for the <b>greater good</b>, bridging the gap between ideation and manifestation. Based on the ethics of its own architechture which is facilitated by vast public libraries and an open-source language, <i>synergy</i> advocates giving back to the community.
    </h5></p>

    <p><h5>
        All repositories are public and everyone can send <b>contribution requests</b>. The feel is minimalistic yet elegant. Have an idea but are looking for people to join it? Want to contribute but don't have an idea to dedicate it to? Be expressive. The team would come together.
    </h5></p>

    <p align="center"><b><i>synergy</i>ze.</b></p>

    <!-- <h3 align="center" class="pink-text darken-4"><b>ideate.work </b></h3> -->
    <br>

</div>
{% endblock content %}
