{% extends 'layout.html' %}
{% block content %}

<div class = " flow-text container col s12 content-section card transparent hoverable">

<h2 align="center"> <b> The beauty of knowledge lies in sharing it </b></h2>

<hr>

<p>
    Built on an Open-Source philosophy, Synergy believes in collaboration for the greater good, bridging the gap between ideation and manifestation. Based on the ethics of its own architechture which is facilitated by vast public libraries and an open-source language, Synergy advocates giving back to the community.
</p>

<p> All repositories are public and everyone can send contribution requests. The feel is minimalistic yet elegant. Have an idea but are looking for people to join it? Want to contribute but don't have an idea to dedicate it to? Be expressive. The team would come together.</p>

<p>Synergize.</p>

<h3 align="center"><b>ideate.work </b></h3>
<br>

</div>

{% endblock content %}
