{% extends "layout.html" %}
{% block content %}
      <div class="row valign wrapper">
        <div class="col s2"
            <img class="circle responive-img account-img" src="{{ current_user.user_logo }}">
        </div>
        <div class="col s10">
          <h3 class="account-heading amber-text"><b>Welcome,</b>{{ current_user.user_name }}<br>
        </div>
      </div>


    <div class = "dim card transparent hoverable col s12">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h4 class="pink-text darken-3"><b>Account Info</b></h4>
                {{image_file}}
                <div class="form-group">
                    <h5 class = "pink-text darken-4">Email</h5>
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <hr><br>

                <div class="form-group">
                    <h5 class = "pink-text darken-4">Update your profile picture</h5>
                    {{ form.user_logo(class="form-control-file") }}
                    {% if form.user_logo.errors %}
                        {% for error in form.user_logo.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

                <hr><br>

                <div class="form-group">
                    <h5 class = "pink-text darken-4">Is this username fine?</h5>
                    {% if form.user_name.errors %}
                        {{ form.user_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    <h5 class = "pink-text darken-4">I'm passionate about working with:</h5>
                    {% if form.user_interest1.errors %}
                        {{ form.user_interest1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_interest1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_interest1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.user_interest2.errors %}
                        {{ form.user_interest2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_interest2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_interest2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <hr><br>

                <div class="form-group">
                    <h5 class = "pink-text darken-4">About</h5>
                    {% if form.user_about.errors %}
                        {{ form.user_about(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_about.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_about(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="button-border hoverable waves-effect waves-light btn-large amber lighten-3 black-text") }}
            </div>
        </form>
    </div>
    </div>
{% endblock content %}
