<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="shortcut icon" href="static/logo.ico">

<head>
    <!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
</head>

<body>
<br><br><br><br><br><br><br><br><br>
<!-- Navbar (sit on top) -->
<div class="container valign center-align">
    <h1 class = "white-text"><b>synergy</b></h1>
		<div class = "row">
			<h3><p><a href="{{ url_for('register') }}" class="hoverable waves-effect waves-light btn-large amber lighten-3 black-text">Start today</a>
			<a href="{{ url_for('login') }}" class="hoverable waves-effect waves-light btn-large amber lighten-3 black-text">Login</a>
			<a href="{{ url_for('about') }}" class="hoverable waves-effect waves-light btn-large amber lighten-3 black-text"><b>What is Synergy</b></a></p>
		</a></h3>
  </div>
</div>

</header>

<div class = "footer">
  <h4 class ="pink-text darken-4"><b>ideate.work</b></h4>
  <h6><a href="{{ url_for('about') }}" class = "amber-text lighten-4">ABOUT US</a>  •
  <a href="{{ url_for('team') }}">MEET THE TEAM</a>  •
  <a href="{{ url_for('work') }}">WHAT WE DO</a></h6>
  <p class = "amber-text lighten-2">© 2019 Copyright: synergy</p>
</div>
<!--<footer class="footer-basic-centered">

          <p class="footer-company-motto">Connect. Select. Sponsor.</p>

          <p class="footer-links">
            <a href="#">ABOUT US</a>
            ·
            <a href="{{ url_for('team') }}">MEET THE TEAM</a>
            ·
            <a href="#">WHAT WE DO</a>
          </p>

          <p class="footer-company-name">© 2018 Copyright:Spons.Central</p>

        </footer>-->


</body>
</html>
