{% extends "layout.html" %}
{% block content %}

<div class = "dim">
<h3 class="amber-text lighten-3"><b>Meet The Team</b></h3>
<hr>

    <div class="card transparent col s3 hoverable">
      <img src="/static/team_pics/Nidhee.jpg" alt="Nidhee" style="width:100%" >

        <h4 class = "center-align amber-text lighten-3">Nidhee Kamble</h4>
        <span class = 'center-align amber'>
        <h5> <b> CSE, VJTI 2017-21 </b> </h5>
        <h6><b>Email: </b>kamble.nidhee@gmail.com</h6><br>
        </span>

    </div>

    <div class="card transparent col s3 hoverable">
      <img src="static/team_pics/Vidhi.jpg" alt="Vidhee" style="width:100%">

        <h4 class = "center-align amber-text lighten-3">Vidhi Rambhia</h4>
        <span class = 'center-align amber'>
        <h5> <b> CSE, VJTI 2017-21 </b> </h5>
        <h6><b>Email: </b> vsrambhia@gmail.com</h6><br>
        </span>

    </div>

    <div class="card transparent col s6 hoverable">
        <span class = 'valign center-align amber'>
        <h6><br> Their enthusiasm for their field is matched only by their excitement on hearing 'twss'. Organised, professional, dedicated. And they like to call themselves funny.</h6><br>
        </span>
        <hr>
        <img src="static/team_pics/team.jpg" alt="team" style="width:100%">
        <hr>
        <span class = 'center-align amber'>
        <h6>some shit; insert nonsense and edit the above desc. as well<br></h6>
        </span>
    </div>
</div>


{% endblock content %}
