{% extends "layout.html" %}
{% block content %}

<div class = "dim">
<h2><b>Meet The Team</b></h2>
<hr>

    <div class="card transparent col s4 hoverable">
      <img src="/static/team_pics/Nidhee.jpg" alt="Nidhee" style="width:100%" >

        <h4 class = "center-align"><b>Nidhee Kamble</b></h4>
        <span class = 'white-text center-align brown darken-4'>
        <h5> <b> CSE, VJTI 2017-21 </b> </h5>
        <h6><b>Email: </b>kamble.nidhee@gmail.com</h6>
        </span>

    </div>

    <div class="card transparent col s4 hoverable">
      <img src="static/team_pics/Vidhi.jpg" alt="Vidhee" style="width:100%">

        <h4 class = "center-align"><b>Vidhi Rambhia</b></h4>
        <span class = 'white-text center-align brown darken-4'>
        <h5> <b> CSE, VJTI 2017-21 </b> </h5>
        <h6><b>Email: </b> vsrambhia.10@gmail.com</h6>
        </span>

    </div>

    <div class="card transparent col s4 hoverable">
      <img src="static/team_pics/team.jpg" alt="team" style="width:100%">

        <span class = 'white-text center-align grey darken-4'>
        <h5>describe</h5><hr>
        <h6>some shit</h6>
        </span>

    </div>
    <h5><i> Background Illustration and colour scheme for synergy by: Indranil Ujagare, Blue Design, NID Vijayawada </i><h5>
</div>


{% endblock content %}
