{% extends "layout.html" %}
{% block content %}
<title>Upload new File</title>
	<div class = "row dim">
			<div class="valign transparent">
				<span class = 'white-text'>
					<h2 class="pink-text darken-4"> <b> Upload new file </b> </h2>
					 <h5>
					<hr>
					<form method=post enctype=multipart/form-data>
					<input type=file name=file class="button-border hoverable waves-effect waves-light btn-large amber lighten-3 black-text">
					<input type=submit value=Upload class="button-border hoverable waves-effect waves-light btn-large amber lighten-3 black-text">
					</form>
					</p>
				</span>
		</div>
	</div>
{% endblock content %}
