.dim
{
    position:fixed;
    padding:50px;
    margin:20px;
    display: block;
    overflow-y: hidden;
    top:0;
    left:0;

}

.footer
{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.topnav a
{
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover
{
  background-color: #424242;
}

.btn-large:hover
{
    background-color: #ffab00;
}

.button-border
{
    padding: 30px;
    border-radius: 50px;
}

.logPage
{

    position:fixed;
    margin:50px 50px 0px 50px ;
    display: block;
    overflow-y: hidden;

}
