.dim
{
    position:fixed;
    padding:50px;
    margin:20px;
    display: block;
    overflow-y: hidden;
    top:0;
    left:0;

}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
